In [1]:
#Necessary imports for plotting, pandas, math operations, and multiple print statements.
import pandas as pd
from scipy.stats import chi2, chi2_contingency
from IPython.display import Image
import matplotlib.pyplot as plt
from math import pi
import numpy as np
import seaborn as sns
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# read cleaned dataset
df = pd.read_csv("datasets/clean.csv")

main_df = df[["originalTitle", "Scripts", "genres"]]
main_df = main_df[main_df["Scripts"].str.contains("<NA>") == False].reset_index().drop("index", axis=1)
display(main_df)

# splitting genres
# df_split["genres"] = df_split["genres"].str.split(",")
# df_split = df_split.explode("genres")

# # convert "genres" from categorical to quantitative
# df_split["genres_num"] = df_split["genres"].map({'Comedy': 0, 'Fantasy': 1, 'Romance': 2, 'Drama': 3, 
#                                                                    'Thriller': 4, 'Action': 5, 'Crime': 6, 'Adventure': 7, 
#                                                                    'Family': 8, 'Mystery': 9, 'Biography': 10, 'Music': 11,
#                                                                    'Horror': 12, 'Sci-Fi': 13, 'Animation': 14,  'Sport': 15, 
#                                                                    'History': 16,  'Western': 17, 'War': 18,  'Musical': 19, 
#                                                                    'Documentary': 20
#                                                                    })

# display(scripts_basics_df[["originalTitle", "Scripts", "genres", "genres_num"]])
# display(scripts_basics_df["genres"].unique())
# display(scripts_basics_df["genres"].unique().size)
# display(scripts_basics_df["genres"].value_counts())

,originalTitle,Scripts,genres
0,Kate & Leopold,"Time. Time, it has been proposed is the fourth...","Comedy,Fantasy,Romance"
1,Backdraft,<font color=orange>© <font color=orange>© P <f...,"Action,Crime,Drama"
2,Barton Fink,Kissing it all good-bye. These four stinkin' w...,"Comedy,Drama,Thriller"
3,Bill & Ted's Bogus Journey,[SUSPENSEFUL MUSIC PLAYING] It is time. They'v...,"Adventure,Comedy,Fantasy"
4,Billy Bathgate,"What do you think, Irving? He makes this cheap...","Crime,Drama,Thriller"
...,...,...,...
2076,Hickok,"No, no, you keep your goddamn head down, all r...",Western
2077,Lost in London,The Venom - $5 million GTD Poker Tourney Downl...,"Comedy,Drama"
2078,A Bad Moms Christmas,♪ I'll have a blue Christmas ♪ ♪ Without you ♪...,Comedy
2079,SPF-18,real life and the movies can get a little mixe...,"Drama,Romance,Sport"
2080,Singularity,Please use left-hand lane. People should be cl...,"Action,Adventure,Drama"

In [3]:
# tf idf
from sklearn.feature_extraction.text import TfidfVectorizer
import scipy.sparse

tfidf = TfidfVectorizer()
response = tfidf.fit_transform(main_df["Scripts"])
feature_names = tfidf.get_feature_names()
# vectorized_df = pd.DataFrame(response.toarray()).set_axis([feature_names], axis=1).set_axis(training_df["originalTitle"], axis=0)
vectorized_df = pd.DataFrame(response.toarray()).set_axis(feature_names, axis=1)
vectorized_df

,00,000,0000,0001,000ft,000th,001,0010,0012,0014,...,ﬂower,ﬂowers,ﬂowing,ﬂu,ﬂuid,ﬂuids,ﬂutter,ﬂuttered,ﬂy,ﬂying
0,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.001959,0.001827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.002814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.010130,0.005668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2077,0.005117,0.001193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2078,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2079,0.004807,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2080,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# edit vectorized dataframe
vectorized_df.insert(0, "movie_genres", main_df["genres"].copy())
vectorized_df.insert(0, "movie_titles", main_df["originalTitle"].copy())
vectorized_df

,movie_titles,movie_genres,00,000,0000,0001,000ft,000th,001,0010,...,ﬂower,ﬂowers,ﬂowing,ﬂu,ﬂuid,ﬂuids,ﬂutter,ﬂuttered,ﬂy,ﬂying
0,Kate & Leopold,"Comedy,Fantasy,Romance",0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Backdraft,"Action,Crime,Drama",0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Barton Fink,"Comedy,Drama,Thriller",0.001959,0.001827,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bill & Ted's Bogus Journey,"Adventure,Comedy,Fantasy",0.000000,0.002814,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Billy Bathgate,"Crime,Drama,Thriller",0.010130,0.005668,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076,Hickok,Western,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2077,Lost in London,"Comedy,Drama",0.005117,0.001193,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2078,A Bad Moms Christmas,Comedy,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2079,SPF-18,"Drama,Romance,Sport",0.004807,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2080,Singularity,"Action,Adventure,Drama",0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# splitting genres for classifying purposes
# - training set has normal genres data
# - testing set has splitted genres data

# divide into train and test
vectorized_train = vectorized_df.loc[:500].copy()
vectorized_test = vectorized_df.loc[501:700].copy()

# splitting genres only for train
vectorized_train["movie_genres"] = vectorized_train["movie_genres"].squeeze().str.split(",")
vectorized_train = vectorized_train.explode("movie_genres")
vectorized_train

d = {'Comedy': 0, 'Fantasy': 1, 'Romance': 2, 'Drama': 3, 'Thriller': 4, 'Action': 5, 'Crime': 6, 'Adventure': 7, 
     'Family': 8, 'Mystery': 9, 'Biography': 10, 'Music': 11, 'Horror': 12, 'Sci-Fi': 13, 'Animation': 14,  
     'Sport': 15, 'History': 16,  'Western': 17, 'War': 18,  'Musical': 19, 'Documentary': 20
}

# def numerize_genre(x):
#     x.map(d)
#     return        

# convert "genres" from categorical to quantitative
vectorized_train["movie_genres"] = vectorized_train["movie_genres"].map(d)
vectorized_train

# vectorized_test["movie_genres"] = vectorized_test["movie_genres"].squeeze().str.split(",")
# vectorized_test
# vectorized_test["movie_genres"] = vectorized_test["movie_genres"].apply(lambda x : map(numerize_genre, x))
# vectorized_test

,movie_titles,movie_genres,00,000,0000,0001,000ft,000th,001,0010,...,ﬂower,ﬂowers,ﬂowing,ﬂu,ﬂuid,ﬂuids,ﬂutter,ﬂuttered,ﬂy,ﬂying
0,Kate & Leopold,Comedy,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,Kate & Leopold,Fantasy,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,Kate & Leopold,Romance,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Backdraft,Action,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Backdraft,Crime,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,"Mystery, Alaska",Drama,0.000000,0.003591,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,"Mystery, Alaska",Sport,0.000000,0.003591,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,Hideous Kinky,Adventure,0.000000,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,Hideous Kinky,Drama,0.000000,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,Hideous Kinky,Romance,0.000000,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,movie_titles,movie_genres,00,000,0000,0001,000ft,000th,001,0010,...,ﬂower,ﬂowers,ﬂowing,ﬂu,ﬂuid,ﬂuids,ﬂutter,ﬂuttered,ﬂy,ﬂying
0,Kate & Leopold,0,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,Kate & Leopold,1,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,Kate & Leopold,2,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Backdraft,5,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Backdraft,6,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,"Mystery, Alaska",3,0.000000,0.003591,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,"Mystery, Alaska",15,0.000000,0.003591,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,Hideous Kinky,7,0.000000,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,Hideous Kinky,3,0.000000,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,Hideous Kinky,2,0.000000,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
vectorized_test_temp = vectorized_test.copy()
vectorized_test_temp["movie_genres"] = vectorized_test_temp["movie_genres"].squeeze().str.split(",")
vectorized_test_temp = vectorized_test_temp.explode("movie_genres")
vectorized_test_temp["movie_genres"] = vectorized_test_temp["movie_genres"].map(d)
vectorized_test_temp = vectorized_test_temp.groupby("movie_titles")["movie_genres"].apply(list).reset_index()
vectorized_test_temp
vectorized_test["movie_genres"] = vectorized_test_temp["movie_genres"].values
vectorized_test

                   movie_titles movie_genres
0    10 Things I Hate About You    [0, 3, 2]
1                    15 Minutes    [5, 6, 3]
2                       28 Days       [0, 3]
3       3000 Miles to Graceland    [5, 0, 6]
4     A Midsummer Night's Dream    [0, 1, 2]
..                          ...          ...
195             What Women Want    [0, 1, 2]
196          Where the Heart Is    [0, 3, 2]
197                 Wonder Boys       [0, 3]
198         You Can Count on Me          [3]
199                   Zoolander          [0]

[200 rows x 2 columns]

,movie_titles,movie_genres,00,000,0000,0001,000ft,000th,001,0010,...,ﬂower,ﬂowers,ﬂowing,ﬂu,ﬂuid,ﬂuids,ﬂutter,ﬂuttered,ﬂy,ﬂying
501,Arlington Road,"[0, 3, 2]",0.004614,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502,Entrapment,"[5, 6, 3]",0.000000,0.010734,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
503,Fight Club,"[0, 3]",0.003050,0.002844,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
504,The Astronaut's Wife,"[5, 0, 6]",0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
505,Intolerable Cruelty,"[0, 1, 2]",0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,Catch Me If You Can,"[0, 1, 2]",0.010914,0.011632,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
697,Changing Lanes,"[0, 3, 2]",0.000000,0.009194,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
698,Frailty,"[0, 3]",0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
699,Murder by Numbers,[3],0.000000,0.002217,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
700,America's Sweethearts,[0],0.001640,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# # splitting genres only for train
# vectorized_df["movie_genres"] = vectorized_df["movie_genres"].squeeze().str.split(",")
# vectorized_df = vectorized_df.explode("movie_genres")
# vectorized_df

# d = {'Comedy': 0, 'Fantasy': 1, 'Romance': 2, 'Drama': 3, 'Thriller': 4, 'Action': 5, 'Crime': 6, 'Adventure': 7, 
#      'Family': 8, 'Mystery': 9, 'Biography': 10, 'Music': 11, 'Horror': 12, 'Sci-Fi': 13, 'Animation': 14,  
#      'Sport': 15, 'History': 16,  'Western': 17, 'War': 18,  'Musical': 19, 'Documentary': 20
# }

# # convert "genres" from categorical to quantitative
# vectorized_df["movie_genres"] = vectorized_df["movie_genres"].map(d)
# vectorized_df

# vectorized_test = vectorized_df.loc[:300].copy()
# temp = vectorized_test.copy()
# # col_names = vectorized_test.columns.tolist()
# # col_names.remove('movie_titles')
# # col_names.remove('movie_genres')
# temp = temp.groupby("movie_titles")["movie_genres"].apply(list).reset_index()
# vectorized_test
# temp

In [12]:
from sklearn.neighbors import KNeighborsClassifier 
from numpy import dot
from numpy.linalg import norm

X_train = vectorized_train.copy().drop(["movie_titles", "movie_genres"], axis=1)
y_train = vectorized_train["movie_genres"]
X_test = vectorized_test.copy().drop(["movie_titles", "movie_genres"], axis=1)
y_test = vectorized_test["movie_genres"]

X_train
X_test
y_train
y_test

def cos_sim(x, y):
    # print(dot(x, y) / (norm(x) * norm(y)))
    return dot(x, y) / (norm(x) * norm(y))

knn_model = KNeighborsClassifier(n_neighbors=10, weights='distance', metric=cos_sim)
# knn_model = KNeighborsClassifier(n_neighbors=15)
knn_model.fit(X=X_train, y=y_train)

,00,000,0000,0001,000ft,000th,001,0010,0012,0014,...,ﬂower,ﬂowers,ﬂowing,ﬂu,ﬂuid,ﬂuids,ﬂutter,ﬂuttered,ﬂy,ﬂying
0,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.015343,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.000000,0.003591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,0.000000,0.003591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,0.000000,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,0.000000,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,0.000000,0.003959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,00,000,0000,0001,000ft,000th,001,0010,0012,0014,...,ﬂower,ﬂowers,ﬂowing,ﬂu,ﬂuid,ﬂuids,ﬂutter,ﬂuttered,ﬂy,ﬂying
501,0.004614,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502,0.000000,0.010734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
503,0.003050,0.002844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
504,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
505,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,0.010914,0.011632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
697,0.000000,0.009194,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
698,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
699,0.000000,0.002217,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
700,0.001640,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

0       0
0       1
0       2
1       5
1       6
       ..
499     3
499    15
500     7
500     3
500     2
Name: movie_genres, Length: 1302, dtype: int64

501    [0, 3, 2]
502    [5, 6, 3]
503       [0, 3]
504    [5, 0, 6]
505    [0, 1, 2]
         ...
696    [0, 1, 2]
697    [0, 3, 2]
698       [0, 3]
699          [3]
700          [0]
Name: movie_genres, Length: 200, dtype: object

KNeighborsClassifier(metric=<function cos_sim at 0x00000197292ACEE0>,
                     n_neighbors=10, weights='distance')

In [ ]:
# pd.set_option('display.max_colwidth', None)
# evaluate the performance of our model using MSE
# - "predict" y values of X_train values
# - compare these predicted values to the actual values y_train to evaluate
from sklearn.metrics import mean_squared_error
test_preds = knn_model.predict(X_test)
test_preds
# mse = mean_squared_error(y_train, train_preds)
# mse

# # compare predicted values on the testing set to the actual values y_test
# test_preds = knn_model.predict(X_test)
# mse = mean_squared_error(y_test, test_preds)
# mse
# # how each movie should be classified?? since one can have many genres
# combine the separated genres
# one movie should only have one entry, each entry has an array of genres
# then, for each movie, predict only one genre
# if that one genre is one of the genres of the movie, then it's considered to be classified correctly