In [1]:
#Necessary imports for plotting, pandas, math operations, and multiple print statements.
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# read cleaned dataset
df = pd.read_csv("datasets/movies.csv")

# get only necessary columns 
main_df = df[["originalTitle", "Scripts", "genres"]]
main_df = main_df[main_df["Scripts"].str.contains("<NA>") == False].reset_index().drop("index", axis=1)
main_df

,originalTitle,Scripts,genres
0,Kate & Leopold,time time proposed fourth dimension yet mortal...,"Comedy,Fantasy,Romance"
1,Barton Fink,kissing goodbye four walls six flights six fli...,"Comedy,Drama,Thriller"
2,Bill & Ted's Bogus Journey,time reached second crucial turning point dest...,"Adventure,Comedy,Fantasy"
3,Billy Bathgate,think makes cheap dago move man took coll man ...,"Crime,Drama,Thriller"
4,The Butcher's Wife,water across sea little island lived young gir...,"Comedy,Fantasy,Romance"
...,...,...,...
2010,Hickok,keep goddamn head right hear take gunner stay ...,Western
2011,Lost in London,venom 5 million poker tourney download go thin...,"Comedy,Drama"
2012,A Bad Moms Christmas,ill blue without ill blue alright white ill bl...,Comedy
2013,SPF-18,real life movies little mixed ask penny cooper...,"Drama,Romance,Sport"
2014,Singularity,please use lane people close matters think thi...,"Action,Adventure,Drama"

In [3]:
# tf idf 
from sklearn.feature_extraction.text import TfidfVectorizer
import scipy.sparse

tfidf = TfidfVectorizer()
response = tfidf.fit_transform(main_df["Scripts"])
feature_names = tfidf.get_feature_names()
vectorized_df = pd.DataFrame(response.toarray()).set_axis(feature_names, axis=1)
vectorized_df

,00,000,0000,00000,0002,000500010000,001,0010,0012,0013,...,zoology,zoom,zoomed,zooming,zooms,zoos,zounds,zucchini,zwieback,zygote
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# samp = vectorized_df.copy()
# samp.insert(0, "movie_titles", main_df["originalTitle"])
# samp = samp.set_index("movie_titles")
# samp.sample(n=5, axis=1).sample(n=5, axis=0)

In [5]:
# edit vectorized dataframe
vectorized_df.insert(0, "movie_genres", main_df["genres"].copy())
vectorized_df.insert(0, "movie_titles", main_df["originalTitle"].copy())

# divide into train and test
vectorized_train = vectorized_df.loc[:1800].copy()
vectorized_test = vectorized_df.loc[1801:].copy()

In [6]:
# splitting genres only for train
vectorized_train["movie_genres"] = vectorized_train["movie_genres"].squeeze().str.split(",")
vectorized_train = vectorized_train.explode("movie_genres")
vectorized_train

,movie_titles,movie_genres,00,000,0000,00000,0002,000500010000,001,0010,...,zoology,zoom,zoomed,zooming,zooms,zoos,zounds,zucchini,zwieback,zygote
0,Kate & Leopold,Comedy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
0,Kate & Leopold,Fantasy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
0,Kate & Leopold,Romance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
1,Barton Fink,Comedy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
1,Barton Fink,Drama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799,The Huntsman: Winter's War,Action,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
1799,The Huntsman: Winter's War,Adventure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
1799,The Huntsman: Winter's War,Drama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
1800,Joe,Crime,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.02024,0.0,0.0
1800,Joe,Drama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.02024,0.0,0.0

In [7]:
# get 250 movies for each genre (Drama, Comedy, Action, Crime, Romance, Adventure, Thriller)
vectorized_train["movie_genres"].value_counts()
sorted_df = vectorized_train.sort_values(by=['movie_genres'], ascending=True)

not_remove = {'Action', 'Adventure', 'Comedy', 'Crime', 'Drama',  'Romance', 'Thriller'}
remove = {'Mystery', 'Fantasy', 'Sci-Fi', 'Biography', 'Animation', 'Family', 'Horror',  'Sport', 'Music', 'War', 'History', 'Musical', 'Western', 'Documentary'}

sorted_df = sorted_df[~sorted_df["movie_genres"].isin(remove)]

vectorized_train = vectorized_train.iloc[0:0]
for x in not_remove:
    temp = sorted_df.loc[sorted_df["movie_genres"] == x]
    vectorized_train = vectorized_train.append(temp.iloc[:300])

# get list of movies used for training (so we dont use them in testing)
train_movies = list(set(vectorized_train["movie_titles"].tolist()))

vectorized_train
vectorized_train["movie_genres"].value_counts()

Drama        1023
Comedy        741
Action        512
Crime         430
Romance       384
Adventure     360
Thriller      325
Mystery       181
Fantasy       144
Sci-Fi        131
Biography      95
Animation      94
Family         83
Horror         65
Sport          57
Music          44
History        14
War            14
Musical        12
Western         9
Name: movie_genres, dtype: int64

,movie_titles,movie_genres,00,000,0000,00000,0002,000500010000,001,0010,...,zoology,zoom,zoomed,zooming,zooms,zoos,zounds,zucchini,zwieback,zygote
1553,Exodus: Gods and Kings,Adventure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530,Charlie's Angels,Adventure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1710,Noah,Adventure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1219,Speed Racer,Adventure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,Pirates of the Caribbean: Dead Man's Chest,Adventure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415,Limitless,Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1410,Escape Plan,Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.018827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1406,Jack Ryan: Shadow Recruit,Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
460,Very Bad Things,Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203,Crimson Tide,Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Adventure    300
Romance      300
Crime        300
Comedy       300
Drama        300
Action       300
Thriller     300
Name: movie_genres, dtype: int64

In [8]:
# convert "genres" from categorical to quantitative
d = {'Comedy': 0, 'Fantasy': 1, 'Romance': 2, 'Drama': 3, 'Thriller': 4, 'Action': 5, 'Crime': 6, 'Adventure': 7, 
     'Family': 8, 'Mystery': 9, 'Biography': 10, 'Music': 11, 'Horror': 12, 'Sci-Fi': 13, 'Animation': 14,  
     'Sport': 15, 'History': 16,  'Western': 17, 'War': 18,  'Musical': 19, 'Documentary': 20
}

vectorized_train["movie_genres"] = vectorized_train["movie_genres"].map(d)
vectorized_train

,movie_titles,movie_genres,00,000,0000,00000,0002,000500010000,001,0010,...,zoology,zoom,zoomed,zooming,zooms,zoos,zounds,zucchini,zwieback,zygote
1553,Exodus: Gods and Kings,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530,Charlie's Angels,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1710,Noah,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1219,Speed Racer,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,Pirates of the Caribbean: Dead Man's Chest,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415,Limitless,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1410,Escape Plan,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.018827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1406,Jack Ryan: Shadow Recruit,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
460,Very Bad Things,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203,Crimson Tide,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# remove movies that are in train set from test set
test_movies = list(set(vectorized_test["movie_titles"].tolist()))
for x in list(set(test_movies).intersection(train_movies)):
    vectorized_test = vectorized_test[vectorized_test["movie_titles"] != x]

vectorized_test

,movie_titles,movie_genres,00,000,0000,00000,0002,000500010000,001,0010,...,zoology,zoom,zoomed,zooming,zooms,zoos,zounds,zucchini,zwieback,zygote
1801,Mothers and Daughters,Drama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1802,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.017077,0.0,0.0
1803,The Homesman,"Drama,Western",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1804,Smurfs: The Lost Village,"Adventure,Animation,Comedy",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1805,They Came Together,"Comedy,Romance",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010,Hickok,Western,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2011,Lost in London,"Comedy,Drama",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2012,A Bad Moms Christmas,Comedy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2013,SPF-18,"Drama,Romance,Sport",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2014,Singularity,"Action,Adventure,Drama",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [10]:
# convert movie_genres in test data to a list of numerized genres
vectorized_test_temp = vectorized_test.copy()
vectorized_test_temp["movie_genres"] = vectorized_test_temp["movie_genres"].squeeze().str.split(",")
vectorized_test_temp = vectorized_test_temp.explode("movie_genres")
vectorized_test_temp["movie_genres"] = vectorized_test_temp["movie_genres"].map(d)
vectorized_test_temp = vectorized_test_temp.groupby("movie_titles")["movie_genres"].apply(list).reset_index()
vectorized_test_temp
vectorized_test["movie_genres"] = vectorized_test_temp["movie_genres"].values
vectorized_test

                          movie_titles movie_genres
0                         5 Flights Up       [0, 3]
1                 A Bad Moms Christmas          [0]
2                       A Fighting Man      [3, 15]
3                       A Little Chaos       [3, 2]
4    A Million Ways to Die in the West      [0, 17]
..                                 ...          ...
207                       Wonder Wheel       [3, 2]
208                       Wonderstruck    [7, 3, 9]
209                  X-Men: Apocalypse   [5, 7, 13]
210                        Yoga Hosers    [5, 0, 1]
211                              Youth   [0, 3, 11]

[212 rows x 2 columns]

,movie_titles,movie_genres,00,000,0000,00000,0002,000500010000,001,0010,...,zoology,zoom,zoomed,zooming,zooms,zoos,zounds,zucchini,zwieback,zygote
1801,Mothers and Daughters,"[0, 3]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1802,Avengers: Age of Ultron,[0],0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.017077,0.0,0.0
1803,The Homesman,"[3, 15]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1804,Smurfs: The Lost Village,"[3, 2]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1805,They Came Together,"[0, 17]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010,Hickok,"[3, 2]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2011,Lost in London,"[7, 3, 9]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2012,A Bad Moms Christmas,"[5, 7, 13]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2013,SPF-18,"[5, 0, 1]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2014,Singularity,"[0, 3, 11]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [11]:
# knn 

from sklearn.neighbors import KNeighborsClassifier 
from numpy import dot
from numpy.linalg import norm
import math

X_train = vectorized_train.copy().drop(["movie_titles", "movie_genres"], axis=1)
y_train = vectorized_train["movie_genres"]
X_test = vectorized_test.copy().drop(["movie_titles", "movie_genres"], axis=1)
y_test = vectorized_test["movie_genres"]

# X_train
# X_test
# y_train
# y_test

def cos_sim(x, y):
    return dot(x, y) / (norm(x) * norm(y))

k = int(math.sqrt(X_train.shape[0]))

# knn_model = KNeighborsClassifier(n_neighbors=10, weights='distance', metric=cos_sim)
knn_model = KNeighborsClassifier(n_neighbors=15)
knn_model.fit(X=X_train, y=y_train)

KNeighborsClassifier(n_neighbors=15)

In [12]:
test_preds = knn_model.predict(X_test)
test_preds

# printing out neighbors and their distances
# distances, indices = knn_model.kneighbors(X_test)
# distances

array([2, 5, 6, 0, 2, 6, 0, 2, 6, 4, 4, 5, 6, 2, 0, 0, 0, 2, 0, 6, 5, 7,
       4, 0, 2, 2, 0, 7, 3, 0, 2, 0, 6, 0, 2, 6, 0, 6, 0, 0, 5, 2, 2, 2,
       0, 0, 3, 0, 0, 7, 0, 6, 0, 0, 7, 3, 2, 0, 0, 5, 0, 0, 3, 0, 0, 6,
       6, 3, 3, 2, 3, 0, 0, 0, 6, 0, 6, 0, 0, 6, 0, 0, 2, 3, 2, 4, 0, 3,
       7, 7, 0, 4, 2, 2, 0, 5, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 4, 0, 3, 6,
       2, 0, 7, 6, 0, 3, 6, 6, 0, 2, 7, 0, 4, 0, 2, 0, 2, 0, 0, 4, 0, 0,
       3, 2, 0, 0, 0, 0, 6, 6, 6, 0, 0, 0, 2, 6, 4, 3, 2, 0, 2, 3, 0, 6,
       2, 6, 5, 0, 0, 0, 2, 4, 4, 4, 0, 3, 6, 6, 0, 3, 0, 2, 0, 0, 3, 0,
       3, 4, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 0, 0, 0, 6, 2, 0,
       2, 2, 0, 0, 0, 6, 0, 0, 0, 3, 2, 0, 0, 2], dtype=int64)

In [13]:
pd.set_option('display.max_rows', None)
# evaluate the performance of our model

# compute the error percentage of two arrays
# actual is an array of arrays of numbers
# predicted is an array of numbers
# return the number of correct predictions/total
def error_perc(actual, predicted):
    correct = 0;
    for x, y in zip(actual, predicted):
        for i in x:
            if y == i:
                correct = correct + 1
                # print(x, y)
                # print(str(correct) + ", " + str(len(actual)))
    return correct / len(actual)

ep = error_perc(y_test, test_preds)
ep

compare = vectorized_test[["movie_titles","movie_genres"]]
compare = compare.assign(predicted = pd.Series(test_preds).values)
compare

0.2688679245283019

                                         movie_titles movie_genres  predicted
1801                            Mothers and Daughters       [0, 3]          2
1802                          Avengers: Age of Ultron          [0]          5
1803                                     The Homesman      [3, 15]          6
1804                         Smurfs: The Lost Village       [3, 2]          0
1805                               They Came Together      [0, 17]          2
1806                                          Tokarev    [7, 3, 8]          6
1807                                      Dark Places    [5, 6, 3]          0
1808                                            Carol       [3, 4]          2
1809                                       The Family    [7, 8, 1]          6
1810                            The Magnificent Seven   [10, 6, 3]          4
1811                                    Atomic Blonde    [5, 3, 2]          4
1812                                         The Duel    [5, 0, 6]          5
1813                                          Taken 3    [0, 3, 2]          6
1814                                              Joy      [10, 0]          2
1815                       The Fundamentals of Caring      [3, 13]          0
1816                                      Masterminds    [5, 6, 4]          0
1817                                    Walk of Shame       [5, 4]          0
1818                                   And So It Goes   [5, 7, 13]          2
1819                                      Left Behind   [5, 7, 13]          0
1820                                 The Ridiculous 6    [5, 7, 3]          6
1821       Star Wars: Episode VII - The Force Awakens   [5, 3, 15]          5
1822                                     Last Knights       [0, 3]          7
1823                                    Bone Tomahawk          [3]          4
1824                                            Burnt    [5, 6, 3]          0
1825                                      The Rewrite    [6, 3, 4]          2
1826                             Hotel Transylvania 2  [3, 12, 17]          2
1827                  Billy Lynn's Long Halftime Walk   [0, 3, 11]          0
1828          Star Wars: Episode VIII - The Last Jedi   [3, 16, 4]          7
1829                                          Arrival    [5, 1, 4]          3
1830                                           Wonder       [0, 3]          0
1831                                     Crimson Peak       [3, 2]          2
1832                A Million Ways to Die in the West    [0, 3, 2]          0
1833                                         Get Hard   [5, 7, 13]          6
1834  Birdman or (The Unexpected Virtue of Ignorance)       [3, 2]          0
1835                  Alice Through the Looking Glass   [7, 14, 0]          2
1836                                   Going in Style    [7, 0, 3]          6
1837                   Me and Earl and the Dying Girl    [0, 6, 3]          0
1838                               Hell or High Water       [3, 2]          6
1839                                            Ted 2    [0, 3, 1]          0
1840                           Hot Tub Time Machine 2  [10, 3, 15]          0
1841                                          Ben-Hur   [5, 3, 15]          5
1842                                   A Little Chaos   [5, 13, 4]          2
1843                                       Miss Julie   [3, 12, 9]          2
1844                                           Fences          [0]          2
1845          Night at the Museum: Secret of the Tomb    [6, 3, 9]          0
1846                                            Locke   [7, 14, 0]          0
1847                                             Fury       [0, 3]          3
1848                                         Top Five       [5, 4]          0
1849                                    The Interview       [3, 8]          0
1850                                    Pete's Dragon    [5, 0, 6]          7
1851                     Kingsman: The Secret Service    [6, 3, 9]          0
1852                                 Fast & Furious 7       [5, 4]          6
1853                                  Pitch Perfect 2    [7, 8, 1]          0
1854                                   A Fighting Man    [5, 6, 4]          0
1855                                  Ratchet & Clank          [3]          7
1856                                   Black or White       [5, 4]          3
1857                                             Chef   [10, 0, 3]          2
1858                                        Insurgent          [0]          0
1859                                   The Dressmaker   [5, 3, 18]          0
1860                                        John Wick       [0, 6]          5
1861                                     5 Flights Up          [4]          0
1862                              A Most Violent Year       [0, 6]          0
1863                                       Drive Hard    [5, 7, 0]          3
1864               Batman v Superman: Dawn of Justice    [6, 3, 9]          0
1865                                   Dolphin Tale 2    [5, 6, 3]          0
1866                                The Water Diviner         [17]          6
1867                                          Hangman   [0, 9, 13]          6
1868                                         Criminal   [7, 14, 0]          3
1869                                  The Jungle Book       [5, 4]          3
1870                                        Mortdecai   [6, 3, 16]          2
1871                                          Inferno      [5, 17]          3
1872                                            Creed       [3, 4]          0
1874                                             Tusk    [5, 7, 6]          0
1875                                 Now You See Me 2   [5, 7, 13]          0
1876                                  Rock the Kasbah      [3, 18]          6
1877                            Men, Women & Children    [5, 6, 3]          0
1878                                         Momentum       [5, 4]          6
1879          Fantastic Beasts and Where to Find Them    [5, 6, 4]          0
1880                                          Reclaim    [5, 6, 4]          0
1881                                      The Cobbler      [10, 3]          6
1882                                       I Am Wrath       [0, 6]          0
1883                              Spark: A Space Tail    [5, 0, 6]          0
1885                                    The Last Face      [0, 20]          2
1886                                London Has Fallen    [5, 0, 4]          3
1887                                            Youth    [5, 7, 0]          2
1888                                            Logan    [5, 7, 0]          4
1889                                      Still Alice       [3, 4]          0
1890                                       Concussion    [5, 7, 1]          3
1891                    Transformers: The Last Knight   [5, 7, 14]          7
1892                                X-Men: Apocalypse  [10, 3, 16]          7
1893                      Jack Reacher: Never Go Back   [0, 3, 18]          0
1894                                          Sicario   [5, 3, 16]          4
1895                     Murder on the Orient Express   [5, 1, 13]          2
1896                                  A Monster Calls   [10, 6, 3]          2
1897                                 The Sea of Trees       [5, 4]          0
1898                   War for the Planet of the Apes          [3]          5
1899                                The Hateful Eight   [5, 3, 13]          0
1900                                  Despicable Me 3    [5, 0, 6]          0
1901                                             Sing       [5, 4]          0
1902                                    Maggie's Plan   [19, 9, 4]          0
1903                                             Vice       [0, 3]          0
1904                                    Inconceivable    [0, 3, 2]          0
1905                                         The Walk    [5, 6, 4]          0
1906                       Captain America: Civil War   [10, 0, 6]          5
1907                                           Ithaca       [0, 3]          0
1908                                   Thor: Ragnarok       [0, 3]          0
1909                                  The Whole Truth    [6, 3, 9]          4
1910                                 The Night Before       [3, 2]          0
1911                                    American Made          [3]          3
1912                                           Legend   [10, 6, 3]          6
1913                                      London Road    [5, 6, 4]          2
1914                                      Knock Knock    [5, 7, 0]          0
1915                                           Cars 3   [3, 12, 9]          7
1916                          In a Valley of Violence    [0, 3, 2]          6
1917                              Ricki and the Flash          [3]          0
1918                            The Girl on the Train       [0, 3]          3
1919                                           Allied    [6, 3, 9]          6
1920                                     Blood Father   [7, 14, 0]          6
1921                                       Misconduct      [14, 0]          0
1922                                      The Martian    [7, 0, 8]          2
1923                             Tian jiang xiong shi    [0, 3, 8]          7
1924                                  Bridge of Spies       [3, 4]          0
1925                                       The Runner    [5, 7, 0]          4
1926                                 Digging for Fire       [5, 0]          0
1927                                       By the Sea   [5, 10, 3]          2
1928                                    Power Rangers       [3, 2]          0
1929          The Disappearance of Eleanor Rigby: Her    [5, 6, 3]          2
1930                                 Life on the Line      [12, 4]          0
1931         The Disappearance of Eleanor Rigby: Them    [5, 7, 0]          0
1932                               Kong: Skull Island       [3, 2]          4
1933                                    Pay the Ghost      [0, 11]          0
1934                                      Blood Money      [0, 11]          0
1935                                    The Nice Guys    [3, 1, 9]          3
1936                                   Only the Brave    [5, 7, 1]          2
1937                                      Yoga Hosers    [5, 0, 4]          0
1938                                            Truth   [5, 7, 14]          0
1939                               Undercover Grandpa    [5, 6, 3]          0
1940                   Guardians of the Galaxy Vol. 2   [0, 3, 11]          0
1941                                        Marauders  [0, 11, 18]          6
1942                                          Exposed          [0]          6
1943                                      Dog Eat Dog   [3, 2, 15]          6
1944                                       Go with Me          [0]          0
1945                                   The Throwaways    [5, 6, 3]          0
1946                        My Little Pony: The Movie   [14, 0, 8]          0
1947                          Florence Foster Jenkins    [5, 7, 3]          2
1948                                            Keanu   [7, 14, 0]          6
1949                                     Jason Bourne   [5, 7, 14]          4
1950                                       Mr. Church      [12, 4]          3
1951                                     Molly's Game   [5, 7, 13]          2
1952                                       The Circle    [5, 7, 1]          0
1953                         Kubo and the Two Strings          [3]          2
1954                                    The Bad Batch    [5, 6, 4]          3
1955                                      Army of One          [0]          0
1956                                       Extraction   [5, 12, 9]          6
1957                                       Nine Lives   [3, 13, 4]          2
1958                                In Dubious Battle    [0, 3, 1]          6
1959                             John Wick: Chapter 2       [3, 2]          5
1960                                      Wild Horses       [3, 2]          0
1961                                        The House   [3, 2, 13]          0
1962                                      The Meddler    [5, 7, 0]          0
1963                                     Café Society       [0, 3]          2
1964                                      Miss Sloane      [3, 17]          4
1965                                Nocturnal Animals    [0, 6, 4]          4
1966                                     Patriots Day    [5, 6, 4]          4
1967                                        Aftermath       [0, 3]          0
1968                                          Chi-Raq    [6, 3, 9]          3
1969                          The Fate of the Furious    [6, 3, 9]          6
1970                      Kingsman: The Golden Circle      [3, 17]          6
1971                                   Precious Cargo       [0, 6]          0
1972                            Kevin Hart: What Now?      [13, 4]          3
1973                                         Colossal    [5, 7, 0]          0
1974                                      Planetarium    [7, 3, 8]          2
1975                                Collateral Beauty   [3, 2, 18]          0
1976                       Once Upon a Time in Venice       [0, 3]          0
1977                                      War Machine   [5, 7, 17]          3
1978                                  Pitch Perfect 3   [7, 3, 13]          0
1979                                      The Do-Over    [0, 3, 2]          3
1980                                              LBJ       [0, 3]          4
1981                                      Rough Night    [5, 0, 6]          0
1982                                     Mother's Day       [0, 1]          2
1983                                            Split      [10, 3]          0
1984                                    The Last Word       [0, 2]          0
1985        Three Billboards Outside Ebbing, Missouri    [5, 7, 0]          0
1986                               Our Souls at Night          [3]          0
1987                                          Mother!    [3, 1, 9]          0
1988                           The Pirates of Somalia    [5, 0, 4]          0
1989                                    The Discovery   [5, 7, 10]          0
1990                                     Wonderstruck  [3, 16, 18]          0
1991                       All the Money in the World    [6, 3, 9]          0
1992                                      Logan Lucky       [0, 2]          3
1993                          Vengeance: A Love Story    [5, 7, 0]          0
1994                                           Bright    [0, 6, 3]          3
1995        The Meyerowitz Stories (New and Selected)    [5, 3, 1]          0
1996                                      To the Bone          [3]          0
1997                                         Nerdland    [5, 6, 4]          0
1998                                          Arsenal       [0, 2]          6
1999                                   Daddy's Home 2   [5, 7, 13]          2
2000                                  Killing Gunther  [10, 3, 16]          0
2001                             Just Getting Started      [0, 12]          2
2002                                   Phantom Thread    [5, 0, 8]          2
2003                                     Wonder Wheel       [5, 4]          0
2004                                   Fun Mom Dinner   [5, 13, 4]          0
2005                                    Brad's Status          [0]          0
2006                                       First Kill   [0, 3, 18]          6
2007                                     Sandy Wexler    [5, 7, 3]          0
2008                                 Last Flag Flying   [6, 3, 17]          0
2009                              The Humanity Bureau       [3, 8]          0
2010                                           Hickok       [3, 2]          3
2011                                   Lost in London    [7, 3, 9]          2
2012                             A Bad Moms Christmas   [5, 7, 13]          0
2013                                           SPF-18    [5, 0, 1]          0
2014                                      Singularity   [0, 3, 11]          2